/*GENERAL*/
html{
  font-family: 'Playfair Display', serif;
}
body{
  margin:0;
}


*{
  box-sizing: border-box;
}

img{
  height: 100%;
  width: 250%;
}


/*HEADER*/

header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  height: 12vh;
  width: 100%;
  background-color: rgb(250,250,250);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header__logo{
  height: 100%;
  width: 20%;
}

.header_icono{
  height: 100%;
  width: 20%;
  border: 0;
  background-color: transparent;
}

.icono{
  font-size: 3rem;
}

.header__navigation{
  width: 100%;
  height: 25vh;
  background-color: rgb(10,10,10,.8);
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  display:none;
}

.header__navigation--active{
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.header__navigation--disabled{
  display:none;
}

.header__navigation ul{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.header__navigation li{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style: none;
}

.navigation_link{
  color: rgb(240,240,240);
  text-decoration: none;
  font-size: 3.5rem;
}



/*CONTENIDO*/

.banner__carousel{
  display: none;
}

.banner__titulo {
  background-color: rgb(216,191,216);
  background-image: url(https://i.pinimg.com/originals/9f/8c/54/9f8c5434c2fc7a240086e77ca34030eb.jpg);
  background-repeat: repeat;
  background-size: cover;
  width:100%;
  height: 88vh;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__titulo h1{
  background-color: rgb(250,250,250);
  height: 30vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner__titulo h1{
  color: rgb(10,10,10);
  font-size: 4rem;
  text-align: center;
}

/*MAIN*/

main section{
  width: 100%;
  height: : 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15%;
}

.section__title{
  font-size: 4rem;
  margin-top: 15%;

}

/*SECCION NOSOTROS*/

#us{
  background-color: rgb(230,230,250);
}


#us p{
  font-size: 2rem;
  margin-top: 15%;
  text-align: justify;

}

/*SECCION SERVICIOS*/

#services{
  background-color: rgb(230,230,250);
  height: auto;
}

.service__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% 0;

}

.service__image{
  font-size: 8rem;
}

.service__imagefa-solidfa-seedling{
  font-size: 12rem;
}

.service__item h3{
  font-size: 4rem

}
